 # 1. How to iterate over rows in Pandas Dataframe

In [ ]:
Let’s see the how to iterate over rows in Pandas Dataframe using inerrows() and itertuples() :

Method #1: Using the DataFrame.iterrows() method

This method iterated over the rows as (index, series) pairs.

In [1]:
import pandas as pd
  
input_df = [{'name':'Sujeet', 'age':10},
            {'name':'Sameer', 'age':11},
            {'name':'Sumit', 'age':12}]
  
df = pd.DataFrame(input_df)
print('Original DataFrame: \n', df)
  
  
print('\nRows iterated using iterrows() : ')
for index, row in df.iterrows():
    print(row['name'], row['age'])

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer   11
2   Sumit   12

Rows iterated using iterrows() :
Sujeet 10
Sameer 11
Sumit 12

# Explanation

In [ ]:
1 = import  in pandas 
2 = create the data in rows , but the data is in series 
3 = df is define the function and print it 
4 = in 1st  coloum is index and 2 nd is name 3rd is age , define it , for using  for loop 
5 = print the statement

# 2.

In [4]:
import pandas as pd

input_df = [ {'name':'nupur','age':20},
           {'name':'sonal','age':30},
           {'name':'vartika','age':50}]

df = pd.DataFrame(input_df)
print('Original DataFrame: \n' ,df)

print('\nRows iterated using itertuples():')
for row in df.itertuples():
    print(getattr(row , 'name'), getattr(row,'age'))

Original DataFrame:
       name  age
0    nupur   20
1    sonal   30
2  vartika   50

Rows iterated using itertuples():
nupur 20
sonal 30
vartika 50

# Explanation

In [ ]:
1 = imoprt in pandas
2 = create the dataframe by using dictionary
3 = print the original dataframe 
4 = itertuples()method will return an iterator yeildinga named tuple for each row in the dataframe ,
the first element of the tuple will the rows corresponding values are the row values 
5 = using the for loop print the name ,rows

# 3.

In [2]:
import pandas as pd
  
input_df = [{'name':'Sujeet', 'age':10},
            {'name':'Sameer', 'age':110},
            {'name':'Sumit', 'age':120}]
  
df = pd.DataFrame(input_df)
print('Original DataFrame: \n', df)
  
print('\nRows iterated using itertuples() : ')
for row in df.itertuples():
    print(getattr(row, 'name'), getattr(row, 'age'))

Original DataFrame:
      name  age
0  Sujeet   10
1  Sameer  110
2   Sumit  120

Rows iterated using itertuples() :
Sujeet 10
Sameer 110
Sumit 120

# Explanation

In [ ]:
in second method 
1 = import in pandas 
2 = create the data in dataframe 
3 = to create the data by using dictionary
4 = consists of 3 principal of . data , rows , columns 
5  print the original data
6 = use, for loop and print the statement

#  2.Selecting rows in pandas DataFrame based on conditions

In [3]:
import pandas as pd
  
record = {
  
 'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
 'Age': [21, 19, 20, 18, 17, 21],
 'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78] }
  

dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", dataframe) 
  
rslt_df = dataframe[dataframe['Percentage'] > 80]
  
print('\nResult dataframe :\n', rslt_df)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

Result dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95

# Explanation

In [ ]:
1 = import in pandas 
2 = to create he data in dataframe , use in dictionary
3 = print the given data 
4 = it consists of , row , column , index
5 = how many students is above 80
6 = print new daraframe

# 2.

In [4]:
import pandas as pd
  
record = {
  'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  'Age': [21, 19, 20, 18, 17, 21],
  'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
  'Percentage': [88, 92, 95, 70, 65, 78]}
  
dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", dataframe) 
  
rslt_df = dataframe.loc[dataframe['Percentage'] > 80]
  
print('\nResult dataframe :\n', rslt_df)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

Result dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95

# Explanation

In [ ]:
1 =  import in pandas 
2 =  create the dataframe , by using dictionary
3 =  Selecting all the rows from the given dataframe in which ‘Percentage’ is greater than 80 using loc[].
4 =  print it

# 3. Select any row from a Dataframe using iloc[] and iat[] in Pandas

In [5]:
import pandas as pd 
    

df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'], 
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'], 
                    'Cost':[10000, 5000, 15000, 2000]}) 
  
Row_list =[] 
    

for i in range((df.shape[0])): 
    
    # Using iloc to access the values of  
    # the current row denoted by "i" 
    Row_list.append(list(df.iloc[i, :])) 
    
# Print the first 3 elements 
print(Row_list[:3])

[['10/2/2011', 'Music', 10000], ['11/2/2011', 'Poetry', 5000], ['12/2/2011', 'Theatre', 15000]]

# Explanation

In [ ]:
1 = imoprt in pandas 
2 = df is define the function and create the dataframe 
3 = list[]
4 = using for loop , syntax : dataframe .shape (shape=count the columns and rows)
5 = the df.loc[i], where th row with index i will be what you specify it to be in the data frame 
6 =.loc = ad list as a row to pandasdatarame using loc[]
7 print the first 3 elements

# Drop rows from the dataframe based on certain condition applied on a column

In [1]:
# importing pandas as pd
import pandas as pd
  
# Read the csv file and construct the 
# dataframe
df = pd.read_csv('nba.csv')
  
# Visualize the dataframe
print(df.head(15))
  
# Print the shape of the dataframe
print(df.shape)

               Name            Team  Number Position  Age  Height  Weight  \
0     Avery Bradley  Boston Celtics       0       PG   25  06-Feb     180
1       Jae Crowder  Boston Celtics      99       SF   25  06-Jun     235
2      John Holland  Boston Celtics      30       SG   27  06-May     205
3       R.J. Hunter  Boston Celtics      28       SG   22  06-May     185
4     Jonas Jerebko  Boston Celtics       8       PF   29  06-Oct     231
5      Amir Johnson  Boston Celtics      90       PF   29  06-Sep     240
6     Jordan Mickey  Boston Celtics      55       PF   21  06-Aug     235
7      Kelly Olynyk  Boston Celtics      41        C   25     7-0     238
8      Terry Rozier  Boston Celtics      12       PG   22  06-Feb     190
9      Marcus Smart  Boston Celtics      36       PG   22  06-Apr     220
10  Jared Sullinger  Boston Celtics       7        C   24  06-Sep     260
11    Isaiah Thomas  Boston Celtics       4       PG   27  05-Sep     185
12      Evan Turner  Boston Celtics      11       SG   27  06-Jul     220
13      James Young  Boston Celtics      13       SG   20  06-Jun     215
14     Tyler Zeller  Boston Celtics      44        C   26     7-0     253

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0
(457, 9)

In [ ]:
1 = import in pandas
2 = read the csv file
3 = head() = is used to get first n rows
4 = df.shape =get the number of rows and columns
( return a yuple representing the dimensionality of the dataframe )

In [2]:
# importing pandas as pd
import pandas as pd
  
# Read the csv file and construct the 
# dataframe
df = pd.read_csv('nba.csv')
  
# Visualize the dataframe
print(df.head(15))
  
# Print the shape of the dataframe
print(df.shape)

               Name            Team  Number Position  Age  Height  Weight  \
0     Avery Bradley  Boston Celtics       0       PG   25  06-Feb     180
1       Jae Crowder  Boston Celtics      99       SF   25  06-Jun     235
2      John Holland  Boston Celtics      30       SG   27  06-May     205
3       R.J. Hunter  Boston Celtics      28       SG   22  06-May     185
4     Jonas Jerebko  Boston Celtics       8       PF   29  06-Oct     231
5      Amir Johnson  Boston Celtics      90       PF   29  06-Sep     240
6     Jordan Mickey  Boston Celtics      55       PF   21  06-Aug     235
7      Kelly Olynyk  Boston Celtics      41        C   25     7-0     238
8      Terry Rozier  Boston Celtics      12       PG   22  06-Feb     190
9      Marcus Smart  Boston Celtics      36       PG   22  06-Apr     220
10  Jared Sullinger  Boston Celtics       7        C   24  06-Sep     260
11    Isaiah Thomas  Boston Celtics       4       PG   27  05-Sep     185
12      Evan Turner  Boston Celtics      11       SG   27  06-Jul     220
13      James Young  Boston Celtics      13       SG   20  06-Jun     215
14     Tyler Zeller  Boston Celtics      44        C   26     7-0     253

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0
(457, 9)

# Getting frequency counts of a columns in Pandas DataFrame

In [4]:
# importing pandas as pd
import pandas as pd
  
# sample dataframe
df = pd.DataFrame({'A': ['foo', 'bar', 'g2g', 'g2g', 'g2g',
                         'bar', 'bar', 'foo', 'bar'],
                  'B': ['a', 'b', 'a', 'b', 'b', 'b', 'a', 'a', 'b'] })
  
# frequency count of column A
count = df['A'].value_counts()
print(count)

bar    4
g2g    3
foo    2
Name: A, dtype: int64

# Explanation

In [ ]:
1 = import in pandas 
2 = create the data , in dataframe , using dictionary
3 = count is used to count the number 
4 = value_count is used to get a series containig counts of unique values 
5 = print it

# 2.

In [5]:
# importing pandas as pd
import pandas as pd
  
# sample dataframe
df = pd.DataFrame({ 'A': ['foo', 'bar', 'g2g', 'g2g', 'g2g',
                                'bar', 'bar', 'foo', 'bar'],
                   'B': ['a', 'b', 'a', 'b', 'b', 'b', 'a', 'a', 'b'] })
  
# Multi-column frequency count
count = df.groupby(['A']).count()
print(count)

     B
A
bar  4
foo  2
g2g  3

# Explantion

In [ ]:
1 = multi- column = this method can be used to count frequencies of objecs over
single or multiple column 
2 = df.groupby = the function is used to split the data into groups based on some criteria

In [6]:
# importing pandas as pd
import pandas as pd
  
# sample dataframe
df = pd.DataFrame({ 'A': ['foo', 'bar', 'g2g', 'g2g', 'g2g', 
                                'bar', 'bar', 'foo', 'bar'],
                   'B': ['a', 'b', 'a', 'b', 'b', 'b', 'a', 'a', 'b'] })
  
# Multi-column frequency count
count = df.groupby(['A', 'B']).size()
print(count)

A    B
bar  a    1
     b    3
foo  a    2
g2g  a    1
     b    2
dtype: int64

# Get the index of maximum value in DataFrame column

In [7]:
# importing pandas module 
import pandas as pd 
    
# making data frame 
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
  
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

# Explanation

In [ ]:
1 = head is the function is used to  the first n rows.

# ..

In [3]:
# importing pandas module 
import pandas as pd 
    
# making data frame 
df = pd.read_csv("nba.csv")
  
# Returns index of maximum weight
df[['Weight']].idxmax()

Weight    405
dtype: int64

In [ ]:
idxmax  = the function is used find the index of maximum value along the index axis

# How to drop one or multiple columns in Pandas Dataframe

In [4]:
# Import pandas package 
import pandas as pd
  
# create a dictionary with five fields each
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
  
df

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

# Explanation

In [ ]:
1 = import 
2 = create a dictionary 
3 = convert the dictionaryinto data frame 
4 = index is 0,1,2,3,4
5 = colums= A,B,C,D,E
6 = print it

# 2.

In [5]:
# Import pandas package 
import pandas as pd
  
# create a dictionary with five fields each 
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
  
# Remove column name 'A'
df.drop(['A'], axis = 1)

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5

# Explanation

1 = imoprt in pandas 
2 = create a dictionary into dataframe 
3 = pandas dataframe is (rows , columns)
4 = df.drop the function s used to drop specificed lables from rowsor columns , removed specific lables , colums , rows .
5 = axis = delete columns , drop axis 1

# 2.

In [6]:
# Import pandas package 
import pandas as pd
  
# create a dictionary with five fields each
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
  
# Remove three columns as index base
df.drop(df.columns[[0, 4, 2]], axis = 1, inplace = True)
  
df

    B   D
0  B1  D1
1  B2  D2
2  B3  D3
3  B4  D4
4  B5  D5

# Explanation

1 = import in pandas
2 = create a dictionary 
3 = convert into dataframe
4 = remove the columns as index base
5 = remove rows or columns by specifying lable names and corresponding axis or by speciying directly
index or columns names. 
6 = when  implace = true , the data is modified in place , which means it will return nothing and the dataframe is now 
updated .

# ..

In [ ]:
Method #4: Drop Columns from a Dataframe using loc[] and drop() method.

Remove all columns between a specific column name to another columns name.

In [7]:
# Import pandas package 
import pandas as pd
  
# create a dictionary with five fields each 
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
  
# Remove all columns between column name 'B' to 'D'
df.drop(df.loc[:, 'B':'D'].columns, axis = 1)

    A   E
0  A1  E1
1  A2  E2
2  A3  E3
3  A4  E4
4  A5  E5

# Explanation

In [ ]:
1 = imoprt in pandas 
2 = create a dictionary 
3 = convert into dataframe 
4 = drop the columns between A, E

# ..

In [10]:
# Import pandas package 
import pandas as pd
  
# create a dictionary with five fields each 
data = {
    'A':['A1', 'A2', 'A3', 'A4', 'A5'], 
    'B':['B1', 'B2', 'B3', 'B4', 'B5'], 
    'C':['C1', 'C2', 'C3', 'C4', 'C5'], 
    'D':['D1', 'D2', 'D3', 'D4', 'D5'], 
    'E':['E1', 'E2', 'E3', 'E4', 'E5'] }
  
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
for col in df.columns:
    if 'A' in col:
        del df[col]
  
df

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5

# Explanation

In [ ]:
1 = A = column is delete

# Getting Unique values from a column in Pandas dataframe

In [11]:
# import pandas as pd
import pandas as pd
  
gapminder_csv_url ='http://bit.ly/2cLzoxH'
# load the data with pd.read_csv
record = pd.read_csv(gapminder_csv_url)
  
record.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

# Explanation

In [ ]:
 head = fisrt n rows

In [12]:
# import pandas as pd
import pandas as pd
  
gapminder_csv_url ='http://bit.ly/2cLzoxH'
# load the data with pd.read_csv
record = pd.read_csv(gapminder_csv_url)
  
print(record['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

# Explanation

In [ ]:
1 = to find the record 
2 = continents(unique)

In [13]:
# import pandas as pd
import pandas as pd
  
gapminder_csv_url ='http://bit.ly/2cLzoxH'
  
# load the data with pd.read_csv
record = pd.read_csv(gapminder_csv_url)
  
print(record.country.unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Australia'
 'Austria' 'Bahrain' 'Bangladesh' 'Belgium' 'Benin' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo Dem. Rep.'
 'Congo Rep.' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Czech Republic' 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador'
 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Ethiopia' 'Finland'
 'France' 'Gabon' 'Gambia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Haiti' 'Honduras' 'Hong Kong China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica'
 'Japan' 'Jordan' 'Kenya' 'Korea Dem. Rep.' 'Korea Rep.' 'Kuwait'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Madagascar' 'Malawi' 'Malaysia'
 'Mali' 'Mauritania' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Reunion' 'Romania' 'Rwanda' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovak Republic' 'Slovenia' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka'
 'Sudan' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Uganda'
 'United Kingdom' 'United States' 'Uruguay' 'Venezuela' 'Vietnam'
 'West Bank and Gaza' 'Yemen Rep.' 'Zambia' 'Zimbabwe']

# Explanation

In [ ]:
1 = to find the unique record (country)

In [14]:
# Write Python3 code here
# import pandas as pd
import pandas as pd
  
gapminder_csv_url ='http://bit.ly/2cLzoxH'
  
# load the data with pd.read_csv
record = pd.read_csv(gapminder_csv_url)
  
print(pd.unique(record['continent']))

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

# Explanation

In [ ]:
1 = import in pandas 
2 = to find the unique record (continents)

# Create a new column in Pandas DataFrame based on the existing columns

In [15]:
# importing pandas as pd
import pandas as pd
  
# Creating the DataFrame
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})
  
# Print the dataframe
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000

# Explanation

In [ ]:
1 = import in pandas 
2 = create a dataframe 
3 = index 
3 = rows , columns.

In [16]:
# using apply function to create a new column
df['Discounted_Price'] = df.apply(lambda row: row.Cost - 
                                  (row.Cost * 0.1), axis = 1)
  
# Print the DataFrame after addition
# of new column
print(df)

        Date    Event   Cost  Discounted_Price
0  10/2/2011    Music  10000            9000.0
1  11/2/2011   Poetry   5000            4500.0
2  12/2/2011  Theatre  15000           13500.0
3  13/2/2011   Comedy   2000            1800.0

# Explanation

In [ ]:
1 = the axis in apply is 0 , then lambda fnction apply to each column,and 1 then apply to each row.
2 = print the dataframe after addition

# Capitalize first letter of a column in Pandas dataframe

In [17]:
# Create a simple dataframe
   
# importing pandas as pd
import pandas as pd
  
   
# creating a dataframe
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate',
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
   
df

       A         B   C
0   john   masters  27
1  bODAY  graduate  23
2   minA  graduate  21
3  Peter   Masters  23
4  nicky  Graduate  24

# Explanation

In [ ]:
1 = import in pandas 
2 = create a dataframe 
3 = str.capitalize method which which helps to convert th first latter of given series in capital .

In [18]:
# Create a simple dataframe
   
# importing pandas as pd
import pandas as pd
  
   
# creating a dataframe
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate',
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
   
df['A'] = df['A'].str.capitalize()
  
df

       A         B   C
0   John   masters  27
1  Boday  graduate  23
2   Mina  graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

# Explanation

In [ ]:
1 = import in pandas 
2 = create a dataframe 
3 = str.capitalize method which which helps to convert th first latter of given series in capital .

In [19]:
# importing pandas as pd
import pandas as pd
  
   
# creating a dataframe
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate',
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})
   
df['A'].apply(lambda x: x.capitalize())

0     John
1    Boday
2     Mina
3    Peter
4    Nicky
Name: A, dtype: object

# Explanation

In [ ]:
1 =import in pandas 
2 = create a dataframe 
3 = the axis in apply is 0 , then lambda fnction apply to each column,and 1 then apply to each row.